pip==19.2.3
wheel==0.33.6
twine==1.15.0
pytest==6.2.2
black==19.3b0
pytest-cov==2.7.1
coveralls==1.8.2
sphinx==2.2.0
numpydoc==0.9.1
sphinx-autoapi==1.1.0
pybind11==2.3.0
numpy==1.17.2
drive-cli==2.0.0